// ******************************************
// Variables Partial 
// ******************************************


// *******************************************
//? Colors section begins
// *******************************************
// Darks
$blue-zodiac: #0C2B45; // dark rich blue.
$blue-whale: #032645; // dark strong blue.
$tiber: #092940; // dark almost blackish blue color.
$te-papa-green: #213442; // dark with hint of green.
$venice-blue: #04587F; // dark deep blue.
$chathams-blue: #164B7F; // dark blue almost navy.


// regular blues
$matisse: #1A588F; // nice medium blue.
$deep-cerulean: #067BB3; // lighter navy, kind of brighter.
$fun-blue: #1E68B3; // regular blue
$deniml: #1B7BBF; // normal blue.
$mariner: #2379C4; // nice normal blue.

// Light blues
$dodger-blue: #08B1FF; // bright shade of blue.
$malibu: #54C9FF; // very bright shade, neon style blue, surfer blue.


// greys
$regent-st-blue: #99BEDE; // very blueish grey.
$boston-blue: #3F8EBF; // med greyish blue
$steel-blue: #5A8DBF; // greyish blue
$pigeon-post: #ADC7D9; // super grey.

// white
$concrete: #F2F2F2; // none solid white.


// *************************************************
//? Color section ends
// *************************************************