// ******************************************
// Variables Partial 
// ******************************************

// background colors and others.
$tiber: #092940; // dark almost blackish blue color.
$chathams-blue: #14598A; // dark blue almost navy.
$deep-cerulean: #067BB3; // lighter navy, kind of brighter.
$dodger-blue: #08B1FF; // bright shade of blue.
$malibu: #54C9FF; // very bright shade, neon style blue, surfer blue.


// Darks
$venice-blue: #04507F; // dark deep blue.


// greys
$boston-blue: #3F8EBF;
